# Global ignores
node_modules
dist
.env
.DS_Store

# Frontend & Backend specific
personal-portfolio-tracker-backend/node_modules
personal-portfolio-tracker-frontend/node_modules
personal-portfolio-tracker-frontend/.angular/cache
