:host ::ng-deep .p-menubar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #555353;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.name-text {
    font-weight: 500;
    color: #333;
}

body {
    padding-top: 64px;
    /* Adjust this if menubar height changes */
}

.header-start {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon {
        font-size: 1.5rem;
        color: #2196f3;
    }

    .app-title {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.header-end {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .avatar {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .user-name {
        display: none;

        @media (min-width: 768px) {
            display: inline-block;
        }

        // font-weight: 500;
    }
}

.main-info-card{
    margin-top: 5rem;
}

.dashboard-cards {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-between;

  app-data-card {
    // flex: 1 1 calc(25% - 1rem);
    // max-width: calc(25% - 1rem);

    @media (max-width: 1024px) {
      flex: 1 1 calc(50% - 1rem);
      max-width: calc(50% - 1rem);
    }

    @media (max-width: 600px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
